* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #222328;
}

.wrapper {
    width: 1000px;
    position: relative;
}

header {
    width: 200px;
    height: 650px;
    float: left;
}


.menu {
    width: 200px;
    height: 30px;
}

.menu > ul > li {
    width: 100%;
    line-height: 30px;
    text-align: center;
}

.menu > ul > li > a {
    display: block;
    background-color: aquamarine;
}

.menu > ul > li > a:hover {
    background-color: aqua;
}

.menu > ul > li > ul {
    display: none;
}

.menu > ul > li > ul > li > a {
    display: block;
    background-color: lightgreen;
}

.menu > ul > li > ul > li > a:hover {
    background-color: yellowgreen;
}

.slide {
    width: 800px;
    height: 350px;
    position: relative;
    margin-left: 200px;
}

.slide img {
    display: block;
    position: absolute;
    width: 800px;
    height: 350px;
    top: 0;
    left: 0;
    opacity: 0;
}

.slide img:first-child {
    opacity: 1;
}

section {
    width: 800px;
    height: 200px;
    display: flex;
}

section > div {
    height: 200px;
}

.notice {
    width: 300px;
    height: 200px;
}

.tab1 {
    width: 300px;
    height: 30px;
    float: left;
}

.tab-news {
    border: 1px solid black;
    border-bottom: 0;
    line-height: 30px;
    width: 90px;
    text-align: center;
    margin-left: 30px;
    background-color: white;
}

.news {
    border: 1px solid black;
    width: 300px;
    height: 140px;
    margin-top: 30px;
}

.news > ul  > li {
    float: left;
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.news > ul  > li:first-child {
    width: 200px;
}

.gallery {
    width: 300px;
}

.gallery img {
    margin: 30px 5px 10px 10px;
}

.Gimg {
    width: 100%;
    height: 140px;
    border: 1px solid black;
    border-left: 0;
}

.tab2 {
    width: 300px;
    height: 30px;
}

.tab-gallery {
    width: 80px;
    line-height: 30px;
    border: 1px solid black;
    background-color: grey;
    margin-left: 30px;
    border-bottom: 0;
}

.pop{
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    
}

.exit {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 80px;
    height: 30px;
}

footer {
    width: 800px;
    height: 100px;
    background-color: #caf4d7;
    position: relative;
    margin-left: 200px;
}

footer > div {
    float: left;
}

footer .copy {
    width: 500px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.sns {
    width: 300px;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
}

.sns a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 50%;
    font-size: 1.5em;
    text-align: center;
}

.facebook {
    background-color: blue;
    color: white;
}

.instar {
    background-color: red;
    color: white;
}

.twitter {
    background-color: #89bbff;
    color: white;
}

.family {
    width: 150px;
    position: absolute;
    top: 70px;
    right: 55px;
}